section.partners
	.container 
		.partners__wrap 
			span.uptitle О нас
			h2.title сотрудничаем с более чем <br> 15 известными брендами
			span.partners__subtitle Готовы помочь вам с подбором нужного товара или его заменой, обеспечивая профессиональную консультацию и надежную поддержку на всех этапах сотрудничества.

	.b-marquee-line
		.b-marquee-line__flow
			.b-marquee-line__flow-in
				span.b-marquee-line__flow-block
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 1.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 2.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 3.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 4.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 5.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 6.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 7.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 8.svg"), alt="")
				span.b-marquee-line__flow-block
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 9.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 10.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 11.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 12.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 13.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 14.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 15.svg"), alt="")
					img.b-marquee-line__flow-item(src=require("../../images/logos/logo 16.svg"), alt="")