extends layout
block main 
	main
		section.first-section 
			h1.title Преобразователи частоты
		section.catalog 
			.container 
				.catalog__wrap
					.catalog__top
						.catalog__filter 
							.item
								.item__btn
									img(src=require('../images/filter/filter.svg'), alt='')
									span Цена
							.item
								.item__btn
									img(src=require('../images/filter/filter1.svg'), alt='')
									span Бренд
							.item
								.item__btn
									img(src=require('../images/filter/filter2.svg'), alt='')
									span Серия
							.item
								.item__btn
									img(src=require('../images/filter/filter3.svg'), alt='')
									span Напряжение
							.item
								.item__btn
									img(src=require('../images/filter/filter4.svg'), alt='')
									span Мощность
							.item
								.item__btn
									img(src=require('../images/filter/filter5.svg'), alt='')
									span Ток
						button.catalog__reset Сбросить
							img(src=require('../images/move-up-right.svg'), alt='')

					.catalog__cards 
						.item
							h3 Преобразователь частоты Danfos  (132F0003)
							.item__price
								span Цена
								span.item__price-current 18 144 ₽
							.item__image
								img(src=require('../images/card1.png'), alt='')
							ul.item__list
								li 
									span Серия
									span VFD-EL
								li 
									span Напряжение, В
									span 380
								li 
									span Мощность, кВт
									span 1.5
								li 
									span Ток, А
									span 4.2
							.item__footer
								button.btn.btn--main Быстрый заказ
								img(src=require('../images/basket-icn.svg'), width="48" height="48" alt='')

						.item
							h3 Преобразователь частоты Danfos  (132F0003)
							.item__price
								span Цена
								span.item__price-current 18 144 ₽
							.item__image
								img(src=require('../images/card1.png'), alt='')
							ul.item__list
								li 
									span Серия
									span VFD-EL
								li 
									span Напряжение, В
									span 380
								li 
									span Мощность, кВт
									span 1.5
								li 
									span Ток, А
									span 4.2
							.item__footer
								button.btn.btn--main Узнать цену
								img(src=require('../images/basket-icn.svg'), width="48" height="48" alt='')

						.item
							h3 Преобразователь частоты Danfos  (132F0003)
							.item__price
								span Цена
								span.item__price-current 18 144 ₽
							.item__image
								img(src=require('../images/card1.png'), alt='')
							ul.item__list
								li 
									span Серия
									span VFD-EL
								li 
									span Напряжение, В
									span 380
								li 
									span Мощность, кВт
									span 1.5
								li 
									span Ток, А
									span 4.2
							.item__footer
								button.btn.btn--main Быстрый заказ
								img(src=require('../images/basket-icn.svg'), width="48" height="48" alt='')

						.item
							h3 Преобразователь частоты Danfos  (132F0003)
							.item__price
								span Цена
								span.item__price-current 18 144 ₽
							.item__image
								img(src=require('../images/card1.png'), alt='')
							ul.item__list
								li 
									span Серия
									span VFD-EL
								li 
									span Напряжение, В
									span 380
								li 
									span Мощность, кВт
									span 1.5
								li 
									span Ток, А
									span 4.2
							.item__footer
								button.btn.btn--main Быстрый заказ
								img(src=require('../images/basket-icn.svg'), width="48" height="48" alt='')

						.item
							h3 Преобразователь частоты Danfos  (132F0003)
							.item__price
								span Цена
								span.item__price-current 18 144 ₽
							.item__image
								img(src=require('../images/card1.png'), alt='')
							ul.item__list
								li 
									span Серия
									span VFD-EL
								li 
									span Напряжение, В
									span 380
								li 
									span Мощность, кВт
									span 1.5
								li 
									span Ток, А
									span 4.2
							.item__footer
								button.btn.btn--main Быстрый заказ
								img(src=require('../images/basket-icn.svg'), width="48" height="48" alt='')

						.item
							h3 Преобразователь частоты Danfos  (132F0003)
							.item__price
								span Цена
								span.item__price-current 18 144 ₽
							.item__image
								img(src=require('../images/card1.png'), alt='')
							ul.item__list
								li 
									span Серия
									span VFD-EL
								li 
									span Напряжение, В
									span 380
								li 
									span Мощность, кВт
									span 1.5
								li 
									span Ток, А
									span 4.2
							.item__footer
								button.btn.btn--main Быстрый заказ
								img(src=require('../images/basket-icn.svg'), width="48" height="48" alt='')
					button.btn.btn--second Загрузить ещё
		include modules/feedback